body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.event {
  border: black solid 1px;
  margin: 5px;
}

li {
  list-style-type: none;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: red solid 2px;
}

.gridItem {
  border: black solid 1px;
}
